.container2{
    width: 100%;
}

.file{
   font-size: 10px;
} 
.send{
    width: 100%;
    background-color:white;
    opacity: 1;
    position: fixed;
    bottom: 0px;
}
.contFile{
    width: 40px;
    text-align: center;
    margin-top: 4px;
}
.file{
    display: none;
}
.submit{
    display: none;
}
.sendChild{
    width: 60%;
    display: flex;
}
.membre{
    height: 100%;
    position: fixed;
}
.nav{
    height: 100%;
    position: fixed;
}
.plus{
    border: 1px solid;
    border-radius: 100px;
    background-color:white;
}